
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs

obj/Debug/DesignTimeResolveAssemblyReferences.cache

obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

obj/Debug/L_Titrator_Alpha.Controls.Frm_PopUpMenu.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_Analog.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_Bit.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_Fluidics_Small.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_Light.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_Login.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_MainControl.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_MeasureResult.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_MeasureStatus.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_OnlineMode.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_SeqStepInfo.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_State.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_Status.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_TimeNow.resources

obj/Debug/L_Titrator_Alpha.Controls.UsrCtrl_TitrationGraph.resources

obj/Debug/L_Titrator_Alpha.Frm_Main.resources

obj/Debug/L_Titrator_Alpha.Pages.Page_Alarm.resources

obj/Debug/L_Titrator_Alpha.Pages.Page_Config.resources

obj/Debug/L_Titrator_Alpha.Pages.Page_Data.resources

obj/Debug/L_Titrator_Alpha.Pages.Page_Device.resources

obj/Debug/L_Titrator_Alpha.Pages.Page_History.resources

obj/Debug/L_Titrator_Alpha.Pages.Page_LifeTime.resources

obj/Debug/L_Titrator_Alpha.Pages.Page_Main.resources

obj/Debug/L_Titrator_Alpha.Pages.Page_Option.resources

obj/Debug/L_Titrator_Alpha.Pages.Page_Recipe.resources

obj/Debug/L_Titrator_Alpha.Pages.Page_Setting.resources

obj/Debug/L_Titrator_Alpha.Pages.SubPage_Device_Communication.resources

obj/Debug/L_Titrator_Alpha.Pages.SubPage_Device_Element.resources

obj/Debug/L_Titrator_Alpha.Pages.SubPage_Recipe_Measure.resources

obj/Debug/L_Titrator_Alpha.Pages.SubPage_Recipe_Process.resources

obj/Debug/L_Titrator_Alpha.Pages.UsrCtrl_Recipe_StepDetail_Control.resources

obj/Debug/L_Titrator_Alpha.Pages.UsrCtrl_Recipe_StepDetail_Titration.resources

obj/Debug/L_Titrator_Alpha.Pages.UsrCtrl_Recipe_StepDetail.resources

obj/Debug/L_Titrator_Alpha.Properties.Resources.resources

obj/Debug/L-Titrator-Alpha.csproj.AssemblyReference.cache

obj/Debug/L-Titrator-Alpha.csproj.CopyComplete

obj/Debug/L-Titrator-Alpha.csproj.CoreCompileInputs.cache

obj/Debug/L-Titrator-Alpha.csproj.FileListAbsolute.txt

obj/Debug/L-Titrator-Alpha.csproj.GenerateResource.cache

obj/Debug/L-Titrator-Alpha.exe

obj/Debug/l-titrator-alpha.exe.licenses

obj/Debug/L-Titrator-Alpha.pdb

obj/Debug/TempPE/Properties.Resources.Designer.cs.dll

.vs/L-Titrator-Alpha/v16/.suo

obj/
